{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew tap 'homebrew/bundle'
brew bundle

curl -sS https://starship.rs/install.sh | sh
echo 'eval "$(starship init zsh)"' >> ~/.zshrc


release_info=$(curl -s https://api.github.com/repos/yuru7/udev-gothic/releases/latest)
zip_url=$(echo $release_info | tr -d '\000-\031' | jq -r '.assets[] | select(.name | endswith(".zip") and contains("_NF_")) | .browser_download_url')
curl -L -o UDEVGothic_NF_latest.zip $zip_url
unzip UDEVGothic_NF_latest.zip
cp UDEVGothic_NF_latest/*.ttf ~/Library/Fonts/
{{ end -}}
