{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew tap 'homebrew/bundle'
brew bundle

curl -sS https://starship.rs/install.sh | sh
echo 'eval "$(starship init zsh)"' >> ~/.zshrc

echo 'export PATH=$PATH:`pwd`/bin' >> ~/.zshrc

release_info=$(curl -s https://api.github.com/repos/yuru7/udev-gothic/releases/latest)
zip_url=$(echo $release_info | tr -d '\000-\031' | jq -r '.assets[] | select(.name | endswith(".zip") and contains("_NF_")) | .browser_download_url')
curl -L -o UDEVGothic_NF_latest.zip $zip_url
unzip UDEVGothic_NF_latest.zip
cp UDEVGothic_NF_*/*.ttf ~/Library/Fonts/
rm -rf UDEVGothic_NF_*
{{ end -}}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
#!/bin/sh
sudo apt-get install zsh
chsh -s /bin/zsh

curl -sS https://starship.rs/install.sh | sh
echo 'eval "$(starship init zsh)"' >> ~/.zshrc
{{   end }}
{{ end }}